/* Extra small size or greater (phone) */
@media (min-width: 480px)
{
    .pad-content
    {
        padding-left: 15px;
        padding-right: 15px;
    }

  	.navbar-toggle 
	{
   		margin-top: 25px; /* Adjust toggle position*/
  	}
    
    /* Center navbar links */
    .navbar-nav li
    {
    	text-align: center;
  	}
    
    .internal-page-preview 
    {
        height: auto;
        overflow: hidden;
    }
    
    h3
    {
        font-size: 1.2em;
        font-weight: bold;
    }
}

/* Small size or greater (tablet) */
@media (min-width: 768px) 
{
    .nav_search_bar 
    {
    	width: 110px !important;
    }
    
    .navLinks
    {
        border-left: solid 1px #000;
    }

    /* Prevent double borders */
    .navLinks > li
    {
        border-right: solid 1px #000;
    }
    
    .navbar {
    	padding-top: 15px !important;
    }
    
    
    .internal-page-preview 
    {
        height: 300px;
        overflow: hidden;
    }

    /* Static footer starts at tablet size */
    html
    {
        position: relative;
        min-height: 100%;
    }

    footer
    {
        position: absolute;
        bottom: 0;
        height: 450px;
    }

    .inner-footer
    {
        position: absolute;
        bottom: 0;
    }

    body 
    {
        margin-bottom: 450px;
    }

    .pad-content
    {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Medium size or greater (desktop) */
@media (min-width: 992px)
{
	.pad-content
    {
        padding-left: 130px;
        padding-right: 130px;
    }
    .nav_search_bar 
    {
    	width: auto !important;
    }

    .internal-page-preview 
    {
        max-width: 250px;
    }

}

/* Huge size or greater (desktop)*/
@media (min-width: 1200px)
{
    .pad-content
    {
        padding-left: 180px;
        padding-right: 180px;
    }

    footer
    {
        height: 350px;
    }

    body 
    {
        margin-bottom: 350px;
    }
}

/* Getting close to HD size */
@media (min-width: 1600px)
{
    .pad-content
    {
        padding-left: 250px;
        padding-right: 250px;
    }

    footer
    {
        height: 320px;
    }

    body 
    {
        margin-bottom: 320px;
    }
}

/* HD size */
/*
@media (min-width: 1920)
{

} */

/* Smaller than tablet size */
@media (max-width: 768px)
{
    h3
    {
        font-size: 1.2em;
        font-weight: bold
    }

        
    .navLinks
    {
    	border-top: solid 1px #ccc;
    }

    .navLinks > li
    {
        border-bottom: solid 1px #ccc;
    }
}

/* Smaller than phone size */
@media (max-width: 480px)
{
    /* Make internal page previews look better */
    .hide-on-sm
    {
        max-height: 0 !important;
        display: none;
    }
}

body 
{
    /* background-image: */
    background-color: white;
}

footer 
{
    color: darkgrey;
    background-color: #666;
    width: 100%;
}

.inner-footer
{
    background-color: #444;  
    width: 100%;
    height: auto;
    margin: 0px;
    padding-bottom: 15px;
}

.navbar-img
{
    height: 40px;
    width: auto;
}

.min-line-height 
{
    line-height: 110%;
}

.med-line-height
{
    line-height: 130%;
}

/*
.internal-page-link
{
    margin-top: 15px;
    border-top-style: dashed;
} */


/* Support glup and fa icon inside input from: http://bootsnipp.com/snippets/featured/support-glyph-and-fa-icon-inside-input */
.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
