/* Extra small size or greater (phone) */
@media (min-width: 480px)
{
    .pad-content
    {
        padding-left: 15px;
        padding-right: 15px;
    }

  	.navbar-toggle 
	{
   		margin-top: 25px; /* Adjust toggle position*/
  	}
    
    /* Center navbar links */
    .navbar-nav li
    {
    	text-align: center;
  	}
    
    h3
    {
        font-size: 1.2em;
        font-weight: bold;
    }
}

/* Small size or greater (tablet) */
@media (min-width: 768px) 
{
    /* Prevent double borders */
    .navLinks > li
    {
        border-right: solid 1px #000;
    }
    
    .navbar {
    	padding-top: 30px !important;
    }

    .navbar-brand 
    {
        padding-top: 0px !important;
    }

    /* Static footer starts at tablet size */
    html
    {
        position: relative;
        min-height: 100%;
    }

    footer
    {
        position: absolute;
        bottom: 0;
        height: 450px;
    }

    .inner-footer
    {
        position: absolute;
        bottom: 0;
    }

    body 
    {
        margin-bottom: 450px;
    }

    .pad-content
    {
        padding-left: 50px;
        padding-right: 50px;
    }

    .pad-navbar
    {
        padding-left: 25px;
        padding-right: 25px;
    }

    /* Style the navbar links */
    .navbar li > a
    {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .navbar li > a:hover {
        background-color: rgba(0,0,0,0);
        color: orange;
    }

    .navbar li > a:focus {
        background-color: rgba(0,0,0,0);
    }

    .homeButton {
        background-color: #c26548;
        border-width: 2px;
        border-radius: 5px;
    }

    .homeButtonContainer {
        border-width: 0px !important;
        padding-right: 15px;
    }

    .homeButton:hover {
        background-color: #fe5a30 !important;
        color: white !important;
    }

    .homeButton:focus {
        background-color: #fe5a30 !important;
    }

    .homeButton:active {
        background-color: #fe5a30 !important;
    }

    .desktop-navbar 
    {
        margin: 0px;
    }

    .flex-control-nav {
        width: 35%;
        right: 0px;
    }

    .flexslider li > a {
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 9px;
    }

    #recentslider {
        padding-top: 25px;
    }

    #recentslider .flex-control-nav {
        top: -50px;
    }

    /* The navbar brand is invisible until mobile resolution, to avoid the menu breaking. */
    .navbar-brand {
        display: none !important;
    }

    /* Instead, use this element so that the navbar can float in front of it */
    #brand-desktop {
        position: absolute;
        width: 175px;
        height: 50px;
        top: 15px;
        left: 5%;
    }

    #brand-link {
        display:inline-block;
        width:100%;
        height:100%;
    }
}

/* Medium size or greater (desktop) */
@media (min-width: 992px) {
    .navbar li > a
    {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .navbar-img
    {
        height: 40px;
        width: auto;
    }

	.pad-content
    {
        padding-left: 50px;
        padding-right: 50px;
    }
    .pad-navbar
    {
        padding-left: 100px;
        padding-right: 100px;
    }

    .internal-page-preview 
    {
        max-width: 250px;
    }

    #recentslider .flex-control-nav {
        width: 20%;
    }
    #topslider .flex-control-nav {
        width: 27%;
    }
}

/* Huge size or greater (desktop)*/
@media (min-width: 1200px)
{
    .pad-content
    {
        padding-left: 100px;
        padding-right: 100px;
    }

    .pad-navbar
    {
        padding-left: 110px;
        padding-right: 110px;
    }

    footer
    {
        height: 350px;
    }

    body 
    {
        margin-bottom: 350px;
    }

    #brand-desktop {
        position: absolute;
        width: 175px;
        height: 50px;
        top:15px;
        left:10%;
    }

    #topslider .flex-control-nav {
        width: 24%;
    }
}

/* Getting close to HD size */
@media (min-width: 1600px)
{
    .pad-content
    {
        padding-left: 250px;
        padding-right: 250px;
    }

    .pad-navbar
    {
        padding-left: 225px;
        padding-right: 225px;
    }

    footer
    {
        height: 320px;
    }

    body 
    {
        margin-bottom: 320px;
    }

    .flex-control-nav {
        width: 25%;
    }

}

/* HD size */
/*
@media (min-width: 1920)
{

} */

@media (max-width: 992px) 
{
    .navbar-img
    {
        padding-top: 5px !important;
        height: 45px;
        width: auto;
    }


    .recent-hover {
        font-size: 1.55em !important;
        font-size: 2.5vw !important;
    }
}

/* Smaller than tablet size */
@media (max-width: 768px)
{
    h3
    {
        font-size: 1.2em;
        font-weight: bold
    }
    #brand-desktop {
        display: none;
    }

    .hide-on-mobile {
        display: none;
    }

    .border-on-mobile {
        border-top: 1px dotted grey;
        border-bottom: 1px dotted grey;
    }

    .recent-hover {
        font-size: 1.75em !important;
        font-size: 2.7vw !important;
    }
}

/* Smaller than phone size */
@media (max-width: 479px)
{
    .internal-page-preview
    {
        height: auto;
    }

    .navbar-img
    {
        height: 25px;
        width: auto;
    }

    .hide-on-sm {
        display: none;
    }

    .recent-hover {
        font-size: 2.3em !important;
        font-size: 3.3vw !important;
    }
}

.nav_search_bar 
{
    border-radius: 15px;
    background-color: #c26548;
    border-color: #c26548;
    color: white;
}

footer 
{
    color: white;
    background-color: #666;
    width: 100%;
    border-top: 4px black solid;
}

.inner-footer
{
    background-color: #444;  
    width: 100%;
    height: auto;
    margin: 0px;
    padding-bottom: 15px;
    color: #cfcfcf;
}

.min-line-height 
{
    line-height: 110%;
}

.med-line-height
{
    line-height: 130%;
}

hr
{
    margin-top: 0 !important;
}

.navbar li > a
{
    color: white;
}

.short-border
{
    width: 75%;
    left: 15px !important;
    border-top: 1px dashed grey;
    padding-bottom: 15px;
}

.short {
    width: 75%;
    left: 15px !important;
    padding-top: 15px;
}

/* The background image needs to be behind everything at the top of the screen with a border separating
** it from the white background */
#background-div
{
    position: absolute;
    height: 700px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url("../public/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    border-bottom: 4px black solid;
}

.internal-page-preview 
{
    height: 300px;
    overflow: hidden;
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.internal-page-link {
    padding-left: 25px;
    padding-top: 25px;
}

.internal-page-link
{
    color: black;
    text-decoration: none !important;
    font-weight: bold;
}

.internal-page-link:hover
{
    color: #c26548;
}

.footer-link
{
    color: white;
    text-decoration: none !important;
}

.footer-link:hover
{
    color: lightgrey;
}

.top-slider-image
{
    max-height: 200px !important;
    width: auto !important;
}

.top-slider-link
{
    text-decoration: none !important;
    border: 1px hidden black;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #35bdf6;
    font-size: 1.25em;
}

.slides {
    padding-left: 35px;
    padding-right: 35px;
}

.top-slider-link:hover {
    background-color: #36bdff;
    color: #dddddd;
}

div .img-responsive {
  max-width: 40%;
}

h2 {
    color: #c26548;
    font-weight: bold;
    font-size: 1.6em;
}

/* Fix Flexslider arrows being too short */
.flex-direction-nav a {
    line-height: 45px;
}


/* Thanks to https://codepen.io/ibrahimjabbari/pen/ozinB */
hr.style1 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

/* General modifications to flexslider */
#topslider {
    padding-top: 35px;
    background-color: rgba(0, 0 , 0, 0);
    border-width: 0px !important;
}

.flexslider li > a {
    background-color: #888888;
    background: rgba(128,128,128,1);
        box-shadow: none;
}

.flexslider li > a:hover {
    background-color: #555555;
}

.flexslider .flex-control-paging li a.flex-active {
    background-color: #bebebe;
}

/* Thanks to: http://stackoverflow.com/questions/18211915/css-fading-top-and-bottom-borders */
.fading-border {
    background-image: radial-gradient(#CCC, #FFF), radial-gradient(#CCC, #FFF);
    background-size:    2px 100%;
    background-position: 0 0, 100% 0;
    background-repeat:  no-repeat;
}

.recent-hover {
    position: absolute; 
    bottom:0px; 
    display: none;
    border: 1px solid grey;
    width: 100%;
    height: 100%;
    background-image: url("../public/images/bg-recentwork.jpg");
    cursor: pointer;
    overflow: hidden;
}

.recent-hover h3 {
    text-align: center;
}

.recent-hover span {
    text-align: center !important;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    /* In case text overflows, this will hide it and blend */
    background-image: url("../public/images/bg-recentwork.jpg");
}

.rw-grid-element:hover .recent-hover{
    display: block;
}

/* Support glup and fa icon inside input from: http://bootsnipp.com/snippets/featured/support-glyph-and-fa-icon-inside-input */
.icon-addon {
    position: relative;
    color: #fff;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
    pointer-events: none;
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: white;
}