<!DOCTYPE html>
<html lang="en">
<head>
	<title>PaleoSun Proof of Concept</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	 <!-- ***Stylesheets*** -->
	 <!-- Bootstrap -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <!-- Normalize -->
	 <!--<link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">-->
	 <!-- Custom -->
	 <link rel="stylesheet" type="text/css" media="all" href="{stylesheet='blog/custom'}">
	
	<!-- ***Scripts*** -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- Tether -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar pad-content">
		<!-- Header and mobile button -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index_navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{exp:channel:entries channel="static_content" url_title="paleosun-logo"}<img class="navbar-img" src="{image_file}" alt="{image_alt_tag}">{/exp:channel:entries}</a>
			</div>
			
		<!-- Links -->
			<div class="collapse navbar-collapse navbar-right" id="index_navbar">
				<ul class="nav navbar-nav navLinks">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Archives</a></li>
					<li><a href="#">Contact</a></li>
				</ul>

				<form class="navbar-form navbar-right" role="search">
					<div class="form-group icon-addon">
						<input type="text" class="form-control nav_search_bar">
						<label class="glyphicon glyphicon-search" class="form control" rel="tooltip" title="search"></label>
					</div>
				</form>
			</div>
	</nav>
	<main>
		<div class="container-fluid pad-content">
			<div class="row">
				We Give Life to Your Ideas
			</div>
			<div class="row">
			{exp:channel:entries channel="internal_pages" limit="4"}
				<div class="col-sm-3 col-xs-6">
					<div class="text internal-page-preview">
						<h3>{title}</h3>
						<br>
						<div class="hide-on-sm">
							<em>{headline}</em>
							<br><br>
							<p>{body_text}</p>
						</div>

					</div>
				<!--<a href="{url_title_path='channel/archives'}">Read More</a> -->
					<a class="internal-page-link" href="#">Read More</a>
				</div>

				{/exp:channel:entries}
			</div>
			<div class="row">
				<div id="recentWork">
				</div>
			</div>
		</div> 
	</main>
	<footer>
        <div>
            <div class="row pad-content" style="max-width: 100%;">
                <div class="col-sm-3 col-xs-6 min-line-height ">
                <!-- Standard internal page, link by id to About Portfolio -->
					{exp:channel:entries channel="static_content" url_title="about-portfolio"}
					<h3>{title}</h3>
					<hr>
					{text}
					{/exp:channel:entries}
                </div>
                <div class="col-sm-3 col-xs-6">
					<h3>Recent Posts</h3>
					<hr>
					<?php
						// Start by loading the feed into an xml file.
						$url = "http://paleosun.com/blog/rss/";
						$rssXml = simplexml_load_file($url); // XML parser
						// Encode the xml as json, then decode the xml into a php array
						$json = json_encode($rssXml);
						$array = json_decode($json,TRUE);
						
						// Create two arrays with similar index mappings for title and url
						// TODO: Convert to a single json array object for better control
						$nameArray = array();
						$urlArray = array();

						for($i = 0; $i < 4; $i++) {
							$nameArray[$i] = $array["channel"]["item"][$i]["title"];
							$urlArray[$i] = $array["channel"]["item"][$i]["link"];
							echo "<div class='min-line-height'><a href='$urlArray[$i]'>$nameArray[$i]</a><br><br></div>";
						}
					?>
                	<!-- RSS widget goes here -->
                </div>
                <div class="col-sm-3">
					<h3>Twitter Widget</h3>
					<hr>
                	<!-- Twitter widget goes here -->
                </div>
                <div class="col-sm-3">
					<h3>Flickr Widget Widget</h3>
					<hr>
                	<!-- Flickr Widget goes here -->
                </div>
            </div>
            <div class="row inner-footer">
                <div class="col-sm-4">
					<br>
					{exp:channel:entries channel="static_content" url_title="paleosun-logo"}<img class="navbar-img center-block" src="{image_file}" alt="{image_alt_tag}">{/exp:channel:entries}
					
                </div>
                <div class="col-sm-4 text-center">
					<br>
                    Smart Web Development.<br>
                    t: (828) 582 - 4975 e: info@paleosun.com
					
                </div>
                <div class="col-sm-4 text-center">
					<br>
                    Copyright 2016. PaleoSun, Inc.
					
                </div>
            </div>
        
        </div>
        
	</footer>
	  
</body>
</html>