<!DOCTYPE html>
<html lang="en">
<head>
	<title>PaleoSun Proof of Concept</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- ***Stylesheets*** -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Normalize -->
	<!--<link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">-->
	<!-- flexslider CSS -->
	<link href="../public/scripts/flexSlider/flexslider.css" rel="stylesheet" />
	<!-- Custom -->
	<link rel="stylesheet" type="text/css" media="all" href="{stylesheet='blog/custom'}">
	
	<!-- ***Scripts*** -->
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<!-- Tether -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- flexslider -->
	<script src="../public/scripts/flexSlider/jquery.flexslider.js"></script>
	<!-- velocity -->
	<script src="../public/scripts/velocity-1.4.1/velocity.min.js"></script>
	<!-- My javascript -->
	<script src="{path=blog/main}"></script>

	<!-- Notes
	flexslider is verified to work in  Safari 4+, Chrome 4+, Firefox 3.6+, Opera 10+, and IE7+.
	velocity.js is much faster then using jquery for animation, and will work without clashing with it. It's
	also very much backwards-browser-compatible
	-->
</head>

<body>
	<div id="background-div"></div>
	<div id="brand-desktop">
		{exp:channel:entries channel="static_content" url_title="paleosun-logo"}<img class="navbar-img" src="{image_file}" alt="{image_alt_tag}"/>{/exp:channel:entries}
	</div>
	<nav class="navbar">
		<div class="container-fluid pad-navbar">
		<!-- Header and mobile button -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#index_navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{exp:channel:entries channel="static_content" url_title="paleosun-logo"}<img class="navbar-img" src="{image_file}" alt="{image_alt_tag}">{/exp:channel:entries}</a>
			</div>
			
		<!-- Links -->
			<div class="collapse navbar-collapse navbar-right" id="index_navbar">
				<ul class="nav navbar-nav navLinks">
					<li class="homeButtonContainer"><a class="homeButton" href="#">Home</a></li>
					<li><a href="#" style="border-left: 1px solid black">About</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Archives</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<form class="navbar-form navbar-right desktop-navbar" role="search">
					<div class="form-group icon-addon">
						<input type="text" class="form-control nav_search_bar">
						<label class="glyphicon glyphicon-search" class="form control" rel="tooltip" title="search"></label>
					</div>
				</form>
			</div>
		</div>
	</nav>
	<main>
		<div class="container-fluid pad-content">
			<div class="flexslider" id="topslider">
				<ul class="slides">
					<!-- It's important that these entries in static content have a valid picture and alt tag, or the slider will break -->
					{exp:channel:entries channel="static_content" entry_id_from="10" entry_id_to="14" sort="asc"}
					<li>
						<div>
							<div class="row">
								<div style="padding-left: 25px;">
									<h2>{title}</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<p style="padding-left: 25px">{text}</p>
									<br>
									<a href="#" class="top-slider-link">{link_text}</a>
									<br><br>	
								</div>
								<div class="col-sm-6">
									<img class="" style="max-height: 400px;" src={image_file} alt={image_alt_tag}>
								</div>
							</div>
							<br>
								
						</div>
						
					</li>
					{/exp:channel:entries}
				</ul>
			</div>
			<div class="row">
			{exp:channel:entries channel="internal_pages" limit="4"}
				<div class="col-sm-3 col-xs-12 border-on-mobile">
					<div class="text internal-page-preview fading-border">
						<h3>{title}</h3>
						<br>
						<div>
							<em>{headline}</em>
							<br><br>
							<p>{body_text}</p>
						</div>
					</div>
				<!--<a href="{url_title_path='channel/archives'}">Read More</a> -->
					<div class="short internal-page-link"><hr class="style1"></div>
					<a class="internal-page-link" href="#">Read More</a>
					<br><br>
				</div>

				{/exp:channel:entries}
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-sm-offset-0">
						<h3>Recent Work</h3>
						<hr class="style1">
					</div>
				</div>
			</div>
			<div class="row">
				<!-- This will be a multi-nested row system. Cf. http://stackoverflow.com/questions/24659471/nested-rows-with-bootstrap-grid-system -->
				<div class="container-fluid">
					<div class="row">
						<!-- Column on left -->
						<div class="col-sm-3 hide-on-sm">
						{exp:channel:entries channel="static_content" url_title="rw-intro"}{text}{/exp:channel:entries}
						</div>
						<!-- Column on right, contains the paginated scrolling area -->
						<div class="col-sm-9">
							<div class="flexslider" id="recentslider">
								<ul class="slides">
									{exp:channel:entries channel="recent_work" sort="asc"}
									<li>
										<div>
											{picture_grid}
											<div class="row" style="padding-bottom: 30px">
												<div class="col-md-6 col-lg-4 rw-grid-element">
													<img class="img-thumbnail hover-image" src="{picture_grid:pic1}">
													<div class="recent-hover" onclick="location.href='{picture_grid:url1}'">
														<h3>{picture_grid:title_1}</h3>
														<p>{picture_grid:desc1}</p>
														<span><strong>Click to visit site.</strong></span>
													</div>
												</div>
												<div class="col-lg-4 col-md-6 rw-grid-element">
													<img class="img-thumbnail" src="{picture_grid:pic2}">
													<div class="recent-hover" onclick="location.href='{picture_grid:url2}'">
														<h3>{picture_grid:title_2}</h3>
														<p>{picture_grid:desc2}</p>
														<span><strong>Click to visit site.</strong></span>
													</div>
												</div>
												<div class="col-lg-4 col-md-6 rw-grid-element">
													<img class="img-thumbnail" src="{picture_grid:pic3}">
													<div class="recent-hover" onclick="location.href='{picture_grid:url3}'">
														<h3>{picture_grid:title_3}</h3>
														<p>{picture_grid:desc3}</p>
														<span><strong>Click to visit site.</strong></span>
													</div>
												</div>
											</div>
											{/picture_grid}
										</div>
									</li>
									{/exp:channel:entries}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> 
	</main>
	<footer>
        <div>
            <div class="row pad-content" style="margin: 0px;">
                <div class="col-sm-3 min-line-height ">
                <!-- Standard internal page, link by id to About Portfolio -->
					{exp:channel:entries channel="static_content" url_title="about-portfolio"}
					<h3>{title}</h3>
					<hr>
					<p class="footer-txt">{text}</p>
					{/exp:channel:entries}
                </div>
                <div class="col-sm-3">
					<h3>Recent Posts</h3>
					<hr>
					<?php
						// Start by loading the feed into an xml file.
						$url = "http://paleosun.com/blog/rss/";
						$rssXml = simplexml_load_file($url); // XML parser
						// Encode the xml as json, then decode the json into a php array
						$json = json_encode($rssXml);
						$array = json_decode($json,TRUE);
						
						// Create two arrays with similar index mappings for title and url
						// TODO: Convert to a single json array object for better control
						$nameArray = array();
						$urlArray = array();

						for($i = 0; $i < 4; $i++) {
							$nameArray[$i] = $array["channel"]["item"][$i]["title"];
							$urlArray[$i] = $array["channel"]["item"][$i]["link"];
							echo "<div class='min-line-height'><a class='footer-link' href='$urlArray[$i]'>$nameArray[$i]</a><br><br></div>";
						}
					?>
                	<!-- RSS widget goes here -->
                </div>
                <div class="col-sm-3">
					<h3>Twitter Widget</h3>
					<hr>
                	<!-- Twitter widget goes here -->
                </div>
                <div class="col-sm-3">
					<h3>Flickr Widget</h3>
					<hr>
                	<!-- Flickr Widget goes here -->
                </div>
            </div>
            <div class="row inner-footer">
                <div class="col-sm-4 col-md-3 col-sm-offset-1 col-lg-offset-1">
					<br>
					{exp:channel:entries channel="static_content" url_title="paleosun-logo"}<img class="navbar-img center-block" src="{image_file}" alt="{image_alt_tag}">{/exp:channel:entries}
					
                </div>
                <div class="col-sm-3 col-md-4 text-center">
					<br>
                    Smart Web Development.<br>
                    t: (828) 582 - 4975 e: info@paleosun.com
					
                </div>
                <div class="col-sm-3 text-center">
					<br>
                    Copyright 2016. PaleoSun, Inc.
					
                </div>
            </div>
        
        </div>
        
	</footer>

</body>
</html>